<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Todos</title>
</head>
<body>
<form method="post" action="/todos">
    <div class="container">
        <div class="row form-outline mb-4">
            <label for="userId" class="form-label">User ID</label>
            <input type="text" name="userId" class="form-control" placeholder="user id" />
        </div>
        <div class="row form-outline mb-4">
            <label for="text" class="form-label">todotext </label>
            <input name="text" class="form-control" placeholder="Enter Your Valid Email Address"></input>
        </div>
        <div class="row"><button class="btn btn-primary">Save</button></div>
    </div>
</form>
<table>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>completed</th>
    </tr>
    <tr th:each="todo:${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.text}"></td>
        <td th:text="${todo.completed}"></td>
    </tr>
</table>
</body>
</html>